WORDPRESS_API_URL=https://wordpress.teguhcoding.com/wp-json/wp/v2
WORDPRESS_USERNAME=your_wordpress_username
WORDPRESS_APP_PASSWORD="your wordpress app password"

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
CONTACT_FROM_EMAIL="Teguh Coding <contact@teguhcoding.com>"
CONTACT_TO_EMAIL=teguhwin8@gmail.com
